<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.zyen.openinbrowser"
    version="0.2.11">
    <name>OpenInBrowser</name>
    <description>Open a URL using system browser</description>
    <license>Apache 2.0</license>
    <keywords>cordova,url,system,browser</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/OpenInBrowser.js" name="OpenInBrowser">
        <clobbers target="cordova.browser" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OpenInBrowser" >
                <param name="android-package" value="OpenInBrowser"/>
            </feature>
        </config-file>
        <source-file src="src/android/OpenInBrowser.java" target-dir="src/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OpenInBrowser" >
                <param name="ios-package" value="OpenInBrowser"/>
            </feature>
        </config-file>
        <source-file src="src/ios/OpenInBrowser.m" />
        <header-file src="src/ios/OpenInBrowser.h" />
    </platform>
</plugin>